/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: auto;
  width: 90%;
}
/* fine regole generali */

/* testata */
/* inizio header top */
.header_top {
  height: 50px;
  width: 100%;
  font-size: 12px;
  line-height: 50px;
  color: #aaaaaa;
  border-bottom: 1px solid #e2e2e2;
}

.language {
  float: left;
}

.home_menu {
  float: right;
}

.home_menu ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}

.header_socials {
  float: right;
}

.header_socials i {
  margin-left: 8px;
}
/* fine header top */

/* inizio header middle */
.header_middle {
  height: 110px;
  width: 100%;
  line-height: 110px;
  color: #777777;
  font-size: 13px;
}

.header_logo img {
  margin-top: 36px;
  float: left;
}

.category {
  float: left;
  margin-left: 60px;
}

.search {
  float: left;
}

.header_middle .container .search input {
  width: 500px;
  margin-left: 10px;
  padding: 12px;
  background-color: #f0f2f5;
  border: none;
}

.search_btn {
  float: left;
  font-size: 12px;
  border: 1px solid white;
  background-color: #457992;
}

.middle_header_menu {
  float: left;
}

.middle_header_menu ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
}

.sign_menu {
  float: right;
}

.sign_menu ul li {
  list-style-type: none;
  display: inline-block;
}

.btn {
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  float: left;
  background-color: #ff4450;
}
/* fine header middle */

.header_bottom {
  height: 80px;
  width: 100%;
  line-height: 80px;
  text-align: center;
  color: white;
  background-color: #273044;
}

.header_bottom ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 80px;
}

.jumbotron {
  height: 395px;
  width: 100%;
  margin-top: 30px;
  background-color: #ff4450;
  background-image: url("../img/slide-1.jpg");
  background-repeat: no-repeat;
  background-position: right;
}

.title {
  font-size: 20px;
  color: white;
  max-width: 550px;
  margin-left: 350px;
  padding-top: 150px;
}

.title p {
  margin-top: 15px;
}
/* fine testata */

/* sezioni principali */
/* inizio sezione uno */
.section_one {
  width: 100%;
}

.course_preview {
  width: 240px;
  margin-bottom: 80px;
  border: 1px solid #e2e2e2;
}

.course_preview img {
  width: 100%;
}

.section_one .container h3 {
  margin-top: 80px;
  margin-bottom: 30px;
}

.course_box {
  padding: 20px;
}

.course_box hr {
  color: #e2e2e2;
  margin-bottom: 20px;
}

.course_box h6 {
  margin-bottom: 20px;
  color: #aaaaaa;
}

.course_box p {
  margin-bottom: 20px;
}

.vote_price {
  display: flex;
  justify-content: space-between;
}

.price span:first-child {
  text-decoration: line-through;
  color: #aaaaaa;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}
/* fine sezione uno */

/* inizio sezione due */
.section_two {
  height: 520px;
  width: 100%;
  background-image: url("../img/bg.png");
}

.btn_two {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: white;
  border-radius: 25px;
  padding: 10px 35px;
  background-color: #ff4450;
}
/* fine sezione due */

/* inizio sezione tre */
.section_three {
  height: 400px;
  width: 100%;
  background-color: purple;
}
/* fine sezione tre */

/* inizio sezione quattro */
.section_four {
  height: 800px;
  width: 100%;
  background-color: lightblue;
}
/* fine sezione quattro */

/* inizio sezione cinque */
.section_five {
  height: 120px;
  width: 100%;
  background-color: pink;
}
/* fine sezione cinque */

/* inizio sezione sei */
.section_six {
  height: 400px;
  width: 100%;
  background-color: lightgrey;
}
/* fine sezione sei */

/* inizio sezione sette */
.section_seven {
  height: 400px;
  width: 100%;
  background-color: lightblue;
}
/* fine sezione sette */
/* fine sezioni principali */

/* footer */
.top_footer {
  height: 160px;
  width: 100%;
  background-color: grey;
}

.bottom_footer {
  height: 60px;
  width: 100%;
  background-color: lightgrey;
}
/* fine footer */





















/* dfskvneoijg */
