<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div class="header">

      <div class="header_top">
        <div class="container">
          <div class="language">
            <span>English <i class="fas fa-chevron-down"></i></span>
          </div>

          <div class="header_socials">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-youtube"></i>
          </div>

          <div class="home_menu">
            <ul>
              <li>Home</li>
              <li>Pages</li>
              <li>Course Formats</li>
              <li>Courses</li>
              <li>Demos</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="header_middle">
        <div class="container">

          <div class="header_logo">
            <img src="img/MasterStudy.svg" alt="logo">
          </div>

          <div class="category">
            <i class="fas fa-bars"></i>
            <span>CATEGORY</span>
          </div>

          <div class="search">
            <input type="text" placeholder="Search courses">
            <div class="search_btn"><i class="fas fa-search"></i></div>
          </div>

          <div class="middle_header_menu">
            <ul>
              <li><i class="fas fa-microphone"></i> Become an instructor</li>
              <li><i class="fas fa-briefcase"></i> For Enterprise</li>
            </ul>
          </div>

          <div class="sign_menu">
            <ul>
              <li><i class="far fa-user"></i> Log in</li>
              <li>
                <div class="btn">
                  <span>sign up</span>
                </div>
              </li>
              <li><i class="far fa-heart"></i></li>
            </ul>
          </div>

        </div>
      </div>

      <div class="header_bottom">
        <ul>
          <li v-for="item in menu">
            <i :class="item.icona"></i>
            {{item.testo}}
          </li>
        </ul>
      </div>

      <div class="jumbotron">
        <div class="title">
          <h1>Udemy Affiliate Sales</h1>
          <p>Monetize your audience and attract new customers with Udemy!</p>
        </div>
      </div>
    </div>

    <div class="section_one">
      <div class="container">
        <h3>Popular Developement Courses</h3>
        <div class="flexbox">
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section_two">
      <div class="container_small height_520">
        <div class="box_sec_two">
          <h2>Limitless learning, more possibilities</h2>
          <p>Online courses open the opportunity for learning to almost anyone, regardless of their scheduling commitments.</p>
          <a href="#" class="red_btn">read more</a>
        </div>
      </div>
    </div>

    <div class="section_three">
      <div class="container">

        <div class="row_one">
          <h2>Recent courses</h2>
        </div>

        <div class="row_two">
          <ul>
            <li v-for="item in categories">{{item}}</li>
          </ul>
        </div>

        <div class="flexbox">
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section_four">
      <div class="container_small_two">
        <div class="box_left">
          <h6>Subscribe our newsletter</h6>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words</p>
        </div>

        <div class="box_right">
          <label for="email">Your e-mail addres</label>
          <div class="form_group">
            <input type="text" id="email"placeholder="Enter your e-mail">
            <div class="button">subscribe</div>
          </div>
        </div>
      </div>
    </div>

    <div class="section_five">
      <div class="container">

        <div class="popular_courses_title">
          <h2>Popular Courses</h2>
          <span>Discover our most popular courses for self learning</span>
        </div>

        <div class="flexbox">
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
          <div class="course_preview">
            <img src="img/919872_ed54_6-272x161.jpg" alt="image">
            <div class="course_box">
              <h6>Development ></h6>
              <p>The Complete iOS 10 & Swift3 Developer Cuorse</p>
              <hr>
              <div class="vote_price">
                <div class="vote">
                  <i class="fas fa-star" v-for="item in voto"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="price">
                  <span>$199.99</span>
                  <br>
                  <span>$100</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section_six">
      <div class="container">
        <div class="flexbox">
          <div class="become_instructor">
            <div class="box_img">
              <img src="img/image_box_1-221x231.png" alt="img">
            </div>
            <div class="box_one">
              <div class="box_position">
                <h3>Become an Instructor</h3>
                <p>Teach what you love. Masterstudy gives you the tools to create a course.</p>
                <a href="#" class="red_btn">start teaching</a>
              </div>
            </div>
          </div>

          <div class="become_instructor">
            <div class="box_img">
              <img src="img/image_box_1-221x231.png" alt="img">
            </div>
            <div class="box_one">
              <div class="box_position">
                <h3>Access For Business</h3>
                <p>Get unlimited access to 2,500 of top courses for your team.</p>
                <a href="#" class="red_btn">doing business</a>
              </div>
            </div>
          </div>
        </div>


        <div class="acces_business"></div>

      </div>
    </div>

    <div class="section_seven">
      <div class="future">
        <h2>Investing for Your Future</h2>
        <p>It is no exaggeration to say this MasterStudy experience was transformative–both professionally and personally. This workshop will long remain a high point of my life. Thanks again…. I am feeling energized and eager to start teaching my class next week. I can’t wait to use all of my new teaching tools. I will absolutely recommend this workshop to other educators!</p>
        <span><strong>Linda Green</strong></span>
        <br>
        <span>Product Manager, Apple Inc</span>
      </div>
    </div>

    <div class="footer">
      <div class="container_footer">
        <div class="top_footer">
          <div class="footer_box">
            <h6>about</h6>
            <p>Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel, rutrum eu ipsum. Mauris accumsan eros eget libero posuere vulputate.</p>
          </div>
          <div class="footer_box">
            <h6>contact</h6>
            <p>USA, Callifornia 20, First Avenue, Callifornia</p>
            <p>Tel.: +1 212 458 300 32 <br>Fax: +1 212 375 24 14 </p>
            <a href="#">info@masterstudy.com</a>
          </div>
          <div class="footer_box">
            <h6>solcial network</h6>
            <div class="socials_row_one">
              <div class="fb social">
                <i class="fab fa-facebook"></i>
              </div>
              <div class="insta social">
                <i class="fab fa-instagram"></i>
              </div>
              <div class="linkedin social">
                <i class="fab fa-linkedin"></i>
              </div>
              <div class="pinterest social">
                <i class="fab fa-pinterest"></i>
              </div>
            </div>
            <div class="socials_row_two">
              <div class="twitter social">
                <i class="fab fa-twitter"></i>
              </div>
              <div class="net social">
                <i class="fab fa-github"></i>
              </div>
              <div class="google social">
                <i class="fab fa-google-plus"></i>
              </div>
              <div class="skype social">
                <i class="fab fa-skype"></i>
              </div>
            </div>
          </div>
          <div class="footer_box">
            <img src="img/Top-udemy-courses-90-percent-off.jpg" alt="img">
          </div>
        </div>
      </div>
      <div class="container_footer">
        <div class="bottom_footer">bottom_footer</div>
      </div>
    </div>
  </div>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
